.addition__title {
  font-family: 'Oswald', sans-serif;
font-weight: 400;
font-size: 36px;
line-height: 36px;
color: #000000;
margin: 0;
padding: 0;
margin-bottom: 81px;
}

.addition-card {
  display: flex;
  margin-bottom: 86px;
}


.addition-gift__info {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 161px;
  color: #FFFFFF;

}
.addition-gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../img/addition-gift.png);
  width: 245px;
  height: 274px;
  margin-left: 80px;
  z-index: -1;
  position: relative;
  &__thumb {
    padding-top: 52px;
  }
  &::before {
    position: absolute;
  content: "";
  width: 245px;
  height: 274px;
  z-index: -1;
  background-color: rgba(104, 183, 56, 0.85);
  }
}


.addition-card__list {
  width: 894px;
  margin: 0;
  padding: 0;
}
.addition-card__item {
  padding-top: 7px;
  border-top: 1px solid #CDCDCD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 894px;
}

.addition-card__item:last-child {
  border-bottom: 1px solid #CDCDCD;
}

.addition-card__title {
  font-family: 'Oswald', sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #222222;
width: 161px;

}

.addition-card__subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
  width: 131px;
}

.addition-card__price {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #444444;
  width: 42px;
}

.addition-card__link {
  background:  #68B738;
  width: 244px;
  height: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
