// .card-advantages {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   background: linear-gradient(to top, #F2F2F2 84%, transparent 50%);
//   width: 245px;
//   height: 483px;
//   margin-bottom: 75px;
// }

// .card-advantages {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);

//   margin-bottom: 75px;
// }

.card-advantages {
  display: grid;
  grid-template-columns: repeat(2, 103px);
  margin-bottom: 25px;
  padding-top: 20px;
  border-top: 1px solid hsl(0, 0%, 92%);
}

// .card-advantages__title {
//   font-family: 'Oswald', sans-serif;
//   font-weight: 400;
//   font-size: 20px;
//   line-height: 21px;
//   text-align: center;
//   text-transform: uppercase;
//   color: #222222;
//   width: 145px;
// }

.card-advantages__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: hsl(0, 0%, 13%);
  padding: 0;
  margin: 0;
  width: 76px;
}

.card-advantages__image {
  margin-top: 23px;
}

.card-advantages__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 175px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 33px;
}

// .card-advantages__term {
//   width: 40%;
// 	display: flex;
// 	position: relative;
//   font-family: 'Lato', sans-serif;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 16px;
//   text-align: center;
//   color: #444444;
//   padding-bottom: 16px;
//       &::before {
//     content: "";
// 	display: block;
//  	width: 169px;
// 	position: absolute;
// 	left: 2px;
//   height: 1px;
//   top: 22px;
// 	background:  #CDCDCD;
//   }

.card-advantages__term {
  position: relative;
  width: 40%;
  display: flex;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: hsl(0, 0%, 27%);
}

// }
// .card-advantages__value {
//   font-family: 'Lato', sans-serif;
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 16px;
//   text-align: center;
//   color: #444444;

// }

.card-advantages__value {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: hsl(0, 0%, 27%);
}

// .card-advantages__link {
//   background:  #68B738;
//   width: 168px;
//   height: 40px;
//   font-family: 'Oswald', sans-serif;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 20px;
//   text-transform: uppercase;
//   color: #FFFFFF;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: row;

// }

.card-advantages__link {
  background: hsl(97, 53%, 47%);
  width: 280px;
  height: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
