.location__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  padding: 0;
  margin: 0;
  width: 139px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
    padding-right: 87px;
    padding-top: 12px;
  }
}

.location__adress {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  padding: 0;
  margin: 0;
  width: 139px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 159px;
    min-height: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 155px;
  }
}

.location__contacts {
  display: flex;
  padding: 26px 20px;
  min-height: 60px;
  background: #f2f2f2;


  @media (min-width: $tablet-width) {
    background: #f2f2f2;
    margin: 0 auto;
    justify-content: space-between;
    padding: 60px 70px;
    min-height: 80px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    display: flex;
    padding: 60px 80px;
    background: #ffffff;
    width: 405px;
    min-height: 78px;
    margin-top: 95px;
    margin-left: 108px;
  }
}

.location__background {
  background: #ffffff;

  @media (min-width: $tablet-width) {
    background: #ffffff;
  }
}

.location__wrapper {
  width: 320px;
  margin: 0 auto;
  min-height: 474px;

  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 600px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    min-height: 400px;
  }
}

.location {
  position: relative;
  display: flex;
  flex-flow: column-reverse;
  margin: 0 auto;
}

.location__image {
  position: absolute;
  background: url("../img/location-mobile.png");
  background-position: center;
  width: 100%;
  min-width: 320px;
  height: 342px;
  order: 2;


  @media (min-width: $tablet-width) {
    background: url("../img/location-tablet.png");
    background-position: center;
    min-width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    background: url("../img/location-desctop.png");
    background-position: center;
    min-width: 1440px;
    height: 400px;
  }
}
