



.location__contacts{
  position: absolute;
  display: flex;
  padding: 60px 80px;
  background: #FFFFFF;
  width: 405px;
  height: 78px;
  margin-top: 95px;



}

.location__title {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #111111;
  padding: 0;
  margin: 0;
  width: 163px;
  padding-right: 87px;
  padding-top: 12px;
}

.location__adress {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  width: 155px;
  padding: 0;
  margin: 0;
}

