// .main-nav__list {
//   display: flex;
//   gap: 35px;
//   margin: 0;
//   padding: 0;
//   list-style-type: none;

// }

// .main-nav__link{
//   position: relative;
//   font-family: 'Oswald', sans-serif;
//   font-weight: 400;
//   font-size: 30px;
//   line-height: 30px;
//   text-transform: uppercase;
//   color: #000000;

// }

// .main-nav__link-selected::after {
//   content: "";
//   background-color: #ffffff;
//   position: absolute;
//   margin-top: 34px;
//   left: 2px;
//   width: 68px;
//   height: 2px;
// }


.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: absolute;
  width: 280px;
  height: 196px;
  gap: 46px;
  padding-top: 22px;
  align-items: center;
  margin-top: 11px;
  background-color: hsl(0, 0%, 100%);
  margin-left: -282px;
}

.main-nav__wrapper {
  display: none;
}

.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: hsl(0, 0%, 0%);
}
