.main-footer {
  background: linear-gradient(to top, #f2f2f2 33%, transparent 33%);
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  align-items: center;
  min-width: 320px;
  margin: 0 auto;
  padding-bottom: 30px;


  @media (min-width: $tablet-width) {
    max-width: 710px;
    flex-direction: row;
  }


  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}
