// .main-header {
//   width: 320px;
//   margin: 0 auto;
//   @media (min-width: $tablet-width) {
//     width: 710px;
//     margin-top: 42px;
//     gap: 93px;
//   }

//   @media (min-width: $desktop-width) {
//     width: 1440px;
//     justify-content: space-between;
//   }
// }

.main-header__wrapper {
  width: 280px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 710px;
    margin-top: 42px;
    gap: 93px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    justify-content: space-between;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  gap: 56px;
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    gap: 20px;
  }

  .main-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo {
    gap: 20px;
  }

  .main-header__toggle {
    display: none;
  }
}
