a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  min-width: 280px;
  margin: 0;

}


.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
